.coverr {
    position: relative;
    z-index: -2;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;

    background: #000;

    z-index: -1;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video-container video {
    position: absolute;
    z-index: 0;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}
