<template name="Register">
	<div class="ui middle aligned center aligned grid page-container">
		<div class="ui centered column account-form">
			{{#if verificationEmailSent}}
				<div class="ui container">
					<h2>
						Thanks for signing up!
					</h2>
					<p>
						We've sent verification link to your e-mail address.
					</p>
					<br />
					<button class="ui large primary button go-home" type="button" data-loading-text="Please wait...">
						OK
					</button>
				</div>
			{{else}}
				<form id="register-form" class="ui large form" role="form">
					<h2 class="ui header">
						Please sign up
					</h2>
					{{#if errorMessage}}
					<div class="ui visible warning message">
						{{errorMessage}}
					</div>
					{{/if}}
					<div class="field">
						<input id="register-name" name="name" type="text" placeholder="Your full name" required autofocus>
					</div>
					<div class="field">
						<input id="register-username" name="username" type="text" placeholder="Username" required>
					</div>
					<div class="field">
						<input id="register-email" name="email" type="text" placeholder="Email address" required>
					</div>
					<div class="field">
						<input id="register-password" name="password" type="password" placeholder="Password" required>
					</div>
					<div class="field">
					<p>By clicking Sign Up, you agree to our <a href="{{pathFor 'terms'}}" target="_blank">Terms of Service</a> and that you have read our <a href="{{pathFor 'privacy'}}" target="_blank">Privacy Policy</a>.</p>
					</div>
					<button class="fluid ui huge primary button" type="submit" data-loading-text="Please wait...">
						Sign Up
					</button>
					<p class="account-form-text-after">
						Already a member?
						<a href="{{pathFor 'login'}}">
							Sign in here
						</a>
					</p>
				</form>
			{{/if}}
		</div>
	</div>
</template>
