<template name="NameValueBox">
	<div id="{{boxId}}" class="ui small modal name-value-box">
		<div class="header">
			{{title}}
		</div>

		<div class="content">
			<h2 class="header">
				&nbsp;
				<button class="ui right floated small green button add-item">
					<i class="plus icon"></i>
					Add New
				</button>
			</h2>

			<div class="ui form">
				{{#if items.length}}
					<div class="field">
						<table class="ui very basic celled table">
							<thead>
								<tr>
									<th>
										{{nameTitle}}
									</th>
									<th>
										{{valueTitle}}
									</th>
									<th class="collapsing">
									</th>
								</tr>
							</thead>
							<tbody>
								{{#each items}}
									{{> NameValueBoxItem}}
								{{/each}}
							</tbody>
						</table>
					</div>
				{{else}}
					<div class="ui info message">Empty.</div>
				{{/if}}
			</div>
		</div>

		<div class="actions">
			{{#if showApproveButton}}
				<div class="ui green ok button">
					{{approveButtonTitle}}
				</div>
			{{/if}}

			{{#if showDenyButton}}
				<div class="ui basic cancel button">
					{{denyButtonTitle}}
				</div>
			{{/if}}
		</div>
	</div>
</template>

<template name="NameValueBoxItem">
		<tr class="object-table-row" data-id={{_id}} data-name-field={{nameField}} data-value-field={{valueField}}>
			<td>
				<input type="text" value="{{itemName}}" class="name-input">
			</td>
			<td>
				<input type="text" value="{{itemValue}}" class="value-input">
			</td>
			<td class="collapsing">
				<div class="object-table-row-controls">
					<i class="fa fa-arrow-up move-up-item {{moveUpClass}}" title="Move Up"></i>
					<i class="fa fa-arrow-down move-down-item {{moveDownClass}}" title="Move Down"></i>
					<i class="fa fa-clone duplicate-item" title="Duplicate"></i>
					<i class="fa fa-trash remove-item" title="Delete"></i>
				</div>
			</td>
		</tr>
</template>
