<template name="AppDetailsAbout">
	<div class="ui container">
		<h2 class="ui header">
			About project
		</h2>

		<div class="ui top attached segment">
			<h3 class="ui header">
				Author
			</h3>
			{{#with user}}
				<a href="#" class="owner-profile-link"><img class="ui avatar image" src="{{userAvatarURL _id 250}}"></a> <a href="#" class="owner-profile-link">{{profile.name}}</a>
			{{/with}}

			<table class="ui very basic compact collapsing invisible table">
				<tbody>
					<tr class="top aligned">
						<td><b>Project name</b></td>
						<td>{{application.name}}</td>
					</tr>
					<tr class="top aligned">
						<td><b>Slug</b></td>
						<td>{{application.slug}}</td>
					</tr>
					<tr class="top aligned">
						<td><b>Created</b></td>
						<td>{{application.createdAt}} ({{livestamp application.createdAt}})</td>
					</tr>
					<tr class="top aligned">
						<td><b>Modified</b></td>
						<td>{{application.modifiedAt}} ({{livestamp application.modifiedAt}})</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="ui attached segment">
			<h3 class="ui header">
				Description
			</h3>
			<p>
				{{#if application.description}}
					{{#markdown}}{{application.description}}{{/markdown}}
				{{else}}
					<i>No description provided</i>
				{{/if}}
			</p>
		</div>

		<div class="ui attached segment">
			<h3 class="ui header">
				Overview
			</h3>
			{{{overview}}}
		</div>

		<div class="ui bottom attached segment">
			<h3 class="ui header">
				Build locally
			</h3>
			<p>To build and run this application on your local computer, open terminal and type:</p>
			<pre><code class="hljs-code hljs">meteor-kitchen {{urlFor 'api.getapp.json' applicationId=params.applicationId}} {{application.slug}}</code></pre>
			<p>Or, you can download input file:</p>
			<a href="{{pathFor 'api.getapp.json' applicationId=params.applicationId}}" target="_blank" class="ui button">Download</a>
		</div>
	</div>	
</template>
