<template name="AppDetails">
	<div class="page-container ui container">
		<div class="ui clearing no-padding basic segment">
			<h1 class="ui left floated header">
				Project: {{application.name}}
			</h1>

			<div class="ui right floated no-padding no-margin basic segment">
				{{#if currentUser}}
					{{#if userCanStarApplication}}
						<div class="ui labeled button" tabindex="0">
							<div class="ui button star-button">
								{{#if starredByMe}}
									<i class="yellow star icon"></i> Unstar
								{{else}}
									<i class="star icon"></i> Star
								{{/if}}
							</div>
							<a href="{{pathFor 'app_details.stargazers' applicationId=params.applicationId}}" class="ui basic label">
								{{application.starCount}}
							</a>
						</div>
					{{/if}}
				{{else}}
					<div class="ui labeled button" tabindex="0">
						<div class="ui button login-first-button">
							<i class="star icon"></i> Star
						</div>
						<a href="{{pathFor 'app_details.stargazers' applicationId=params.applicationId}}" class="ui basic label">
							{{application.starCount}}
						</a>
					</div>
				{{/if}}

				{{#if currentUser}}
					{{#if userCanForkApplication}}
						<div class="ui labeled button" tabindex="0">
							<div class="ui green button fork-button">
								<i class="fork icon"></i> Fork
							</div>
							<a href="{{pathFor 'app_details.forks' applicationId=params.applicationId}}" class="ui basic label">
								{{application.forkCount}}
							</a>
						</div>
					{{/if}}
				{{else}}
					<div class="ui labeled button" tabindex="0">
						<div class="ui green button login-first-button">
							<i class="fork icon"></i> Fork
						</div>
						<a href="{{pathFor 'app_details.forks' applicationId=params.applicationId}}" class="ui basic label">
							{{application.forkCount}}
						</a>
					</div>
				{{/if}}

				{{#if userOwnsApplication}}
					<div class="ui button settings-button">
						<i class="settings icon"></i> Settings
					</div>

					<div class="ui blue button designer-button">
						Open designer
					</div>
				{{/if}}
			</div>

		</div>
		<div class="ui stackable padded grid">
			<div id="menu" class="three wide column">
				<img class="ui image" src="/images/image-empty-card-app.png">
			</div>
			<div id="subcontent" class="thirteen wide column">
				{{> AppDetailsMenu}}
				{{> yield region='AppDetailsSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="AppDetailsMenu">
	<div id="menu-items" class="ui secondary pointing menu">
		<a href="{{pathFor 'app_details.about' applicationId=params.applicationId}}" id="menu-item-simple" class="item {{menuItemClass 'app_details.about'}}">
			<span class="item-title">
				About
			</span>
		</a>
		<a href="{{pathFor 'app_details.stargazers' applicationId=params.applicationId}}" id="menu-item-simple" class="item {{menuItemClass 'app_details.stargazers'}}">
			<span class="item-title">
				<span class="ui circular label">{{application.starCount}}</span>
				Stars
			</span>
		</a>
		<a href="{{pathFor 'app_details.forks' applicationId=params.applicationId}}" id="menu-item-simple" class="item {{menuItemClass 'app_details.forks'}}">
			<span class="item-title">
				<span class="ui circular label">{{application.forkCount}}</span>
				Forks
			</span>
		</a>
	</div>
</template>
