<template name="HomePrivate">
	<div id="content" class="page-container ui container">
		{{> AppGalery appGaleryData}}
	</div>
</template>

<template name="HomePrivateApplications">
	<div id="home-private-applications" class="">
		<h2 class="ui header">
		</h2>
		<form class="ui form">
			<div id="dataview-controls" class="ui secondary menu">
				<div id="dataview-controls-insert" class="item {{insertButtonClass}}">
					<div id="dataview-insert-button" class="ui green button">
						<i class="plus icon">
						</i>
						New application
					</div>
				</div>
				<div id="dataview-controls-search" class="item">
					{{#if isNotEmpty}}
					<div class="ui fluid action input">
						<input id="dataview-search-input" type="text" placeholder="Search...">
						<div id="dataview-search-button" class="ui icon button">
							<i class="search icon">
							</i>
						</div>
					</div>
					{{/if}}
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="ui active warning message">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> HomePrivateApplicationsTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="ui active info message">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="HomePrivateApplicationsTable">
	<table id="dataview-table" class="ui very basic unstackable table selectable">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Application name
				</th>
				<th class="th-sortable" data-sort="description">
					Description
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> HomePrivateApplicationsTableItems}} {{/each}}
		</tbody>
	</table>
	<div class="ui small modal delete">
		<div class="header">
			Delete
		</div>
		<div class="image content">
			<div class="description">
				Delete? Are you sure?
			</div>
		</div>
		<div class="actions">
			<div class="ui green ok button">
				Yes
			</div>
			<div class="ui basic cancel button">
				No
			</div>
		</div>
	</div>
</template>

<template name="HomePrivateApplicationsTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{description}}
		</td>
		<td class="collapsing td-icon">
			<i id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</i>
		</td>
		<td class="collapsing td-icon">
			<i id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</i>
		</td>
	</tr>
</template>

