<template name="Contribute">
	<div id="content" class="page-container ui container">
		<div class="ui grid">
			<div class="eight wide column">
{{#markdown}}
Contribute
==========

How to contribute?
------------------

If you find this project interesting, please feel free to:

- **Spread the word** - on your favourite tech blog, <a href="https://twitter.com/MeteorKitchen" target="_blank">twitter</a>, Facebook, Reddit... etc.

- **Report issues or request features** to this <a href="https://github.com/perak/kitchen-site/issues" target="_blank">GitHub page</a>.

- **Ask questions and discuss** in <a href="https://forums.meteor.com/" target="_blank">Meteor forum</a>.

- **Create screencast videos** explaining how to create application using meteor-kitchen. I'l put your video on this site and add you to the contributors list.

- You can support meteor-kitchen with a **donation**.


Contributors
------------

*Sorted by contribution date (descending)*

<a href="https://github.com/perak" target="_blank"><b>Petar Korponaić</b></a> - original author

<a href="https://github.com/dr-dimitru" target="_blank"><b>Dmitriy A.</b></a> - helped with SEO troubles. See also <a href="https://atmospherejs.com/jazeee/spiderable-longer-timeout" target="_blank">jazeee:spiderable-longer-timeout</a> package. 

<a href="https://github.com/milanromic" target="_blank"><b>Milan Romić</b></a> - helped with many things... list is too long! :)

<a href="https://github.com/ljack" target="_blank"><b>Jarkko Lietolahti</b></a> - helped with many things... list is too long! :)

<a href="https://github.com/kadirerdogan" target="_blank"><b>Kadir Erdogan</b></a> - created "semantic-ui" and "materialize" templates

<a href="https://github.com/mikkelking" target="_blank"><b>Mike King</b></a> - created <a href="https://www.youtube.com/watch?v=4onSUkj4hKc" target="_blank">perfect presentation</a> in Melbourne. Also testing js-yaml (replacement for yaml2json, and some English fixes).

<a href="https://github.com/bartonhammond" target="_blank"><b>Barton Hammond</b></a> - created awesome screencast video tutorial (and "todos" example - will be published soon)

<a href="https://github.com/modcoms" target="_blank"><b>Martin McCormack</b></a> - improving docs

<a href="https://github.com/Billybobbonnet" target="_blank"><b>Antoine Cordelois</b></a> - loader template

<a href="https://github.com/peterennis" target="_blank"><b>Peter Ennis</b></a> - created `favicon.ico`

<a href="https://github.com/robmoggach" target="_blank"><b>Robert Moggach</b></a> - improving examples and created nice "getting started" <a href="https://www.youtube.com/watch?v=9k5YRxjP58Y" target="_blank">video</a>.

<a href="https://github.com/jimbog" target="_blank"><b>Jimmy Garzon</b></a> - improving docs and made presentation at Meteor LA Meetup in December 2014.

<a href="https://github.com/benstr" target="_blank"><b>Ben Strahan</b></a> - excellent presentation at World Wide Meteor Day 2014 in Chicago. Video is <a href="http://www.youtube.com/watch?v=0njX2e7GwDs" target="_blank">here</a>.

<a href="https://github.com/TheAncientGoat" target="_blank"><b>Ryan Swart</b></a> - improving docs

<a href="https://github.com/npvn" target="_blank"><b>Phúc Nguyễn</b></a> - improving docs

<a href="http://danielonum.crevado.com/about" target="_blank"><b>Daniel Zec</b></a> - super cool logo design
{{/markdown}}
			</div>

			<div class="eight wide column">
{{#markdown}}
Donate
======

About
-----

Meteor Kitchen is free for you, but not for us - we spent a lot of time working on it. Your donation will help us continue and improve this project.

**At least, you can buy us a beer: it also helps - especially after 12 hours of coding :)**


PayPal
------

You can send us some bucks via <a href="https://paypal.me/meteorkitchen" target="_blank">PayPal</a>.


Bitcoin
-------

<a href="https://blockchain.info/address/1CPHmerS2feSLV9VnWsh1X7k3MHeB1NDKY" target="_blank"><img src="/images/ribbon-donate-bitcoin.png" style="width: 197px; height: auto;"></a>

You can donate bitcoins to this address:

```
1CPHmerS2feSLV9VnWsh1X7k3MHeB1NDKY
```

Thank you!
<a href="https://www.linkedin.com/in/petar-korponai%25C4%2587-3253604a" target="_blank">Petar Korponaić</a> and the NHG Team &lt;3
{{/markdown}}
			</div>
		</div>
	</div>
</template>
